In [1]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp37-cp37m-manylinux1_x86_64.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 6.6 MB/s eta 0:00:01
Requirement already satisfied: six>=1.9 in /home/usuario/anaconda3/lib/python3.7/site-packages (from cassandra-driver) (1.14.0)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in /home/usuario/anaconda3/lib/python3.7/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.0)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [17]:
from cassandra.cluster import Cluster

In [18]:
cluster = Cluster(contact_points=['127.0.0.1'], port = 9042)
session = cluster.connect()

In [2]:
import pandas as pd
import numpy as np

In [3]:
suicides = pd.read_csv('./Suicidios.csv', sep=',', header=0, thousands=b',')

In [4]:
suicides.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [5]:
suicides.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [6]:
suicides.rename({'suicides/100k pop':'suicides_by_100k_pob', 
'HDI for year':'HDI_for_year',' gdp_for_year ($) ': 'pib_for_year',
'gdp_per_capita ($)': 'pib_per_capita'}, axis=1,    inplace=True)

In [7]:
suicides.head()

,country,year,sex,age,suicides_no,population,suicides_by_100k_pob,country-year,HDI_for_year,pib_for_year,pib_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [8]:
suicides.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_by_100k_pob', 'country-year', 'HDI_for_year', 'pib_for_year',
       'pib_per_capita', 'generation'],
      dtype='object')

In [9]:
suicides.dtypes

country                  object
year                      int64
sex                      object
age                      object
suicides_no               int64
population                int64
suicides_by_100k_pob    float64
country-year             object
HDI_for_year            float64
pib_for_year              int64
pib_per_capita            int64
generation               object
dtype: object

In [10]:
suicides.describe()

,year,suicides_no,population,suicides_by_100k_pob,HDI_for_year,pib_for_year,pib_per_capita
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,2.782000e+04,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,4.455810e+11,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,1.453610e+12,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,4.691962e+07,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,8.985353e+09,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,4.811469e+10,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,2.602024e+11,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,1.812071e+13,126352.000000

In [11]:
print(f"Existen {np.isnan(suicides.year).sum()} valores nan para la variable 'year'")
print(f"Existen {np.isnan(suicides.suicides_no).sum()} valores nan para la variable 'suicides_no'")
print(f"Existen {np.isnan(suicides.population).sum()} valores nan para la variable 'population'")
print(f"Existen {np.isnan(suicides.suicides_by_100k_pob).sum()} valores nan para la variable 'suicides_by_100k_pob'")
print(f"Existen {np.isnan(suicides.HDI_for_year).sum()} valores nan para la variable 'HDI_for_year'")
print(f"Existen {np.isnan(suicides.pib_per_capita).sum()} valores nan para la variable 'pib_per_capita'")

Existen 0 valores nan para la variable 'year'
Existen 0 valores nan para la variable 'suicides_no'
Existen 0 valores nan para la variable 'population'
Existen 0 valores nan para la variable 'suicides_by_100k_pob'
Existen 19456 valores nan para la variable 'HDI_for_year'
Existen 0 valores nan para la variable 'pib_per_capita'

In [12]:
suicides.drop('HDI_for_year', axis=1, inplace=True)

In [13]:
suicides.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_by_100k_pob', 'country-year', 'pib_for_year',
       'pib_per_capita', 'generation'],
      dtype='object')

In [14]:
from cassandra.cqlengine import columns
from cassandra.cqlengine.models import Model
from cassandra.cqlengine import models
from cassandra.cqlengine import connection

In [19]:
session.execute("""CREATE KEYSPACE IF NOT EXISTS PROYECTO WITH replication = {'class': 'SimpleStrategy','replication_factor' : 1}; """
)

In [20]:
session.set_keyspace("proyecto")

In [21]:
class Suicide(Model):
    country = columns.Text(primary_key = True)
    year = columns.Integer(primary_key = True)
    sex  = columns.Text(primary_key = True)
    age = columns.Text(primary_key = True, clustering_order="ASC")
    suicides_no = columns.Integer()
    population = columns.BigInt()
    suicides_by_100k_pob = columns.Float()
    country_year = columns.Text()
    pib_for_year = columns.BigInt()
    pib_per_capita = columns.BigInt()
    generation = columns.Text()

In [22]:
from cassandra.cqlengine.management import sync_table
connection.register_connection('cluster3', session=session)
sync_table(Suicide, keyspaces=['proyecto'],connections=['cluster3'])

/home/usuario/anaconda3/lib/python3.7/site-packages/cassandra/cqlengine/management.py:545: UserWarning: CQLENG_ALLOW_SCHEMA_MANAGEMENT environment variable is not set. Future versions of this package will require this variable to enable management functions.
  warnings.warn(msg)

In [23]:
for row in session.execute("""select column_name, kind, type from system_schema.columns WHERE keyspace_name = 'proyecto' ;"""):
    print(row)

{'column_name': 'age', 'kind': 'clustering', 'type': 'text'}
{'column_name': 'country', 'kind': 'partition_key', 'type': 'text'}
{'column_name': 'country_year', 'kind': 'regular', 'type': 'text'}
{'column_name': 'generation', 'kind': 'regular', 'type': 'text'}
{'column_name': 'pib_for_year', 'kind': 'regular', 'type': 'bigint'}
{'column_name': 'pib_per_capita', 'kind': 'regular', 'type': 'bigint'}
{'column_name': 'population', 'kind': 'regular', 'type': 'bigint'}
{'column_name': 'sex', 'kind': 'clustering', 'type': 'text'}
{'column_name': 'suicides_by_100k_pob', 'kind': 'regular', 'type': 'float'}
{'column_name': 'suicides_no', 'kind': 'regular', 'type': 'int'}
{'column_name': 'year', 'kind': 'clustering', 'type': 'int'}

In [24]:
for index,value in suicides.iterrows():
    session.execute(""" INSERT INTO proyecto.suicide (country, year, sex, age, country_year, generation,pib_for_year, pib_per_capita, population,  suicides_by_100k_pob,suicides_no) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",(value['country'], value['year'], value['sex'], value['age'], value['country-year'], value['generation'], value['pib_for_year'], value['pib_per_capita'],value['population'], value['suicides_by_100k_pob'], value['suicides_no']) )

In [25]:
all_rows = session.execute("""SELECT * FROM proyecto.suicide""")

In [26]:
for row in all_rows[0:20]:
    print(f"""En {row['country']} en el año {row['year']} hubo {row['suicides_no']} suicidios de genero {row['sex']} con edades comprendidas en {row['age']} """)

En Ecuador en el año 1985 hubo 58 suicidios de genero female con edades comprendidas en 15-24 years
En Ecuador en el año 1985 hubo 31 suicidios de genero female con edades comprendidas en 25-34 years
En Ecuador en el año 1985 hubo 15 suicidios de genero female con edades comprendidas en 35-54 years
En Ecuador en el año 1985 hubo 4 suicidios de genero female con edades comprendidas en 5-14 years
En Ecuador en el año 1985 hubo 4 suicidios de genero female con edades comprendidas en 55-74 years
En Ecuador en el año 1985 hubo 2 suicidios de genero female con edades comprendidas en 75+ years
En Ecuador en el año 1985 hubo 104 suicidios de genero male con edades comprendidas en 15-24 years
En Ecuador en el año 1985 hubo 70 suicidios de genero male con edades comprendidas en 25-34 years
En Ecuador en el año 1985 hubo 57 suicidios de genero male con edades comprendidas en 35-54 years
En Ecuador en el año 1985 hubo 7 suicidios de genero male con edades comprendidas en 5-14 years
En Ecuador en el año 1985 hubo 33 suicidios de genero male con edades comprendidas en 55-74 years
En Ecuador en el año 1985 hubo 8 suicidios de genero male con edades comprendidas en 75+ years
En Ecuador en el año 1986 hubo 74 suicidios de genero female con edades comprendidas en 15-24 years
En Ecuador en el año 1986 hubo 28 suicidios de genero female con edades comprendidas en 25-34 years
En Ecuador en el año 1986 hubo 12 suicidios de genero female con edades comprendidas en 35-54 years
En Ecuador en el año 1986 hubo 6 suicidios de genero female con edades comprendidas en 5-14 years
En Ecuador en el año 1986 hubo 7 suicidios de genero female con edades comprendidas en 55-74 years
En Ecuador en el año 1986 hubo 4 suicidios de genero female con edades comprendidas en 75+ years
En Ecuador en el año 1986 hubo 87 suicidios de genero male con edades comprendidas en 15-24 years
En Ecuador en el año 1986 hubo 67 suicidios de genero male con edades comprendidas en 25-34 years

In [29]:
df = pd.DataFrame()
for row in all_rows[:20]:
    df = df.append(row, ignore_index=True)

In [30]:
df.head()

,age,country,country_year,generation,pib_for_year,pib_per_capita,population,sex,suicides_by_100k_pob,suicides_no,year
0,15-24 years,Ecuador,Ecuador1985,Generation X,1.714909e+10,2238.0,897700.0,female,6.46,58.0,1985.0
1,25-34 years,Ecuador,Ecuador1985,Boomers,1.714909e+10,2238.0,600800.0,female,5.16,31.0,1985.0
2,35-54 years,Ecuador,Ecuador1985,Silent,1.714909e+10,2238.0,692800.0,female,2.17,15.0,1985.0
3,5-14 years,Ecuador,Ecuador1985,Generation X,1.714909e+10,2238.0,1262600.0,female,0.32,4.0,1985.0
4,55-74 years,Ecuador,Ecuador1985,G.I. Generation,1.714909e+10,2238.0,303000.0,female,1.32,4.0,1985.0

In [31]:
df.dtypes

age                      object
country                  object
country_year             object
generation               object
pib_for_year            float64
pib_per_capita          float64
population              float64
sex                      object
suicides_by_100k_pob    float64
suicides_no             float64
year                    float64
dtype: object

In [33]:
num_paises = session.execute(""" SELECT country FROM suicide """)
df_num_paises = pd.DataFrame()
for row in num_paises:
    df_num_paises = df_num_paises.append(row, ignore_index = True)

In [34]:
df_num_paises.head()

   country
0  Ecuador
1  Ecuador
2  Ecuador
3  Ecuador
4  Ecuador

In [35]:
print(f"Existen datos de {len(df_num_paises.country.unique())} paises")

Existen datos de 101 paises

In [36]:
suicide_greater_250 = session.execute(""" SELECT * FROM suicide WHERE suicides_no > 250 ALLOW FILTERING""")
df_suicide_greater_250 = pd.DataFrame()
for row in suicide_greater_250:
    df_suicide_greater_250 = df_suicide_greater_250.append(row, ignore_index = True)

In [37]:
df_suicide_greater_250.head()

,age,country,country_year,generation,pib_for_year,pib_per_capita,population,sex,suicides_by_100k_pob,suicides_no,year
0,55-74 years,Spain,Spain1985,G.I. Generation,1.803024e+11,5009.0,3683300.0,female,7.520000,277.0,1985.0
1,35-54 years,Spain,Spain1985,Silent,1.803024e+11,5009.0,4471200.0,male,11.120000,497.0,1985.0
2,55-74 years,Spain,Spain1985,G.I. Generation,1.803024e+11,5009.0,3115900.0,male,20.030001,624.0,1985.0
3,75+ years,Spain,Spain1985,G.I. Generation,1.803024e+11,5009.0,691500.0,male,44.110001,305.0,1985.0
4,55-74 years,Spain,Spain1986,G.I. Generation,2.506385e+11,6919.0,3738800.0,female,8.050000,301.0,1986.0

In [38]:
df_suicide_greater_250.shape

(4619, 11)

In [39]:
female_suicides = session.execute(""" SELECT * FROM suicide WHERE sex = 'female'""")

InvalidRequest: Error from server: code=2200 [Invalid query] message="PRIMARY KEY column "sex" cannot be restricted as preceding column "year" is not restricted"

In [40]:
session.execute(""" CREATE INDEX IF NOT EXISTS sex_suicide ON suicide (sex)""")

In [41]:
female_suicides = session.execute(""" SELECT * FROM suicide WHERE sex = 'female'""")

In [43]:
df_female_suicides = pd.DataFrame()
for row in female_suicides:
    df_female_suicides = df_female_suicides.append(row, ignore_index =  True)

In [44]:
df_female_suicides.head()

,age,country,country_year,generation,pib_for_year,pib_per_capita,population,sex,suicides_by_100k_pob,suicides_no,year
0,15-24 years,Ecuador,Ecuador1985,Generation X,1.714909e+10,2238.0,897700.0,female,6.46,58.0,1985.0
1,25-34 years,Ecuador,Ecuador1985,Boomers,1.714909e+10,2238.0,600800.0,female,5.16,31.0,1985.0
2,35-54 years,Ecuador,Ecuador1985,Silent,1.714909e+10,2238.0,692800.0,female,2.17,15.0,1985.0
3,5-14 years,Ecuador,Ecuador1985,Generation X,1.714909e+10,2238.0,1262600.0,female,0.32,4.0,1985.0
4,55-74 years,Ecuador,Ecuador1985,G.I. Generation,1.714909e+10,2238.0,303000.0,female,1.32,4.0,1985.0